.head{
    display: flex;
    flex-direction: column;
    background: url(../assets/presentation.JPG);
    background-size: cover;
    padding-left: 7%;
    padding-top: 1%;
}

body{
    font-family: Roboto;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

.topnav{
    display: flex;
    flex-wrap: wrap;
    margin-left: 28%;
    margin-top: 2%;
    margin-bottom: auto;
    font-weight: bold;
    font-size: large;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.topnav a{
    color: white;
    text-decoration: none;
}

.applynow{
    background-color: #0d0;
    padding: 1%;
    border-radius:10px;
}

.intro{
    margin-top: 15%;
    margin-right: 60%;
    color: white;
    font-size: 1.5em;
}


.im-with-nav{
    display:flex;
}

button{
    font-size: medium;
    padding: 2%;
    background-color: #0d0;
    color: white;
    border-color: #0d0;
    font-weight: bold;
    border-radius: 5px;
}

.stats{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:1%;
    padding-left: 20%;
    padding-right: 20%;

}

.numbers{
    color: #0d0;
    font-size: 3.5em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1%;
}

.undernumbers{
    word-wrap: break-word;
    font-weight: bolder;
    text-align: center;
    font-size: 1.5em;
}

.section3{
    display: flex;
    flex-wrap: wrap; 
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-evenly;
    margin-top: 3%;
}

.section3 div{
    word-wrap: break-word;
    width: 50%;
    font-size: 1.5em;
}

.section3 div a{
    color: #0d0;
    margin-left: 3%;
}

.section4{
    background-color: #0d0;
    padding-left: 10%;
    padding-right: 10%;
}

.section4 h2{
    font-size: 3em;
    color: white;
    width: 100%;
    text-align: center;
}

.section4 div{
    display: flex;
    width: 100%;
}