.head{
    display: flex;
    flex-direction: column;
    background: rgba(34, 33, 33, 0.5) url(../assets/presentation.JPG);
    min-height: 0;
    background-size: cover;
    background-blend-mode: darken;
    padding-left: 7%;
    padding-top: 1%;
}

body{
    font-family: Roboto;
    margin: 0%;
}

.topnav{
    display: flex;
    flex-wrap: wrap;
    margin-left: 28%;
    margin-top: 2%;
    margin-bottom: auto;
    font-weight: bold;
    font-size: large;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.bun{
    display: none;
}

.topnav a{
    color: white;
    text-decoration: none;
}

.applynow{
    background-color: #0d0;
    padding: 1%;
    border-radius:5px;
}

.intro{
    margin-top: 15%;
    margin-right: 60%;
    color: white;
    font-size: 1.5em;
}


.im-with-nav{
    display:flex;
    padding-top: 1%;
}

.learn-morebutton{
    font-size: medium;
    padding: 2%;
    background-color: #0d0;
    color: white;
    border-color: #0d0;
    font-weight: bold;
    border-radius: 5px;
}

.stats{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:1%;
    padding-left: 20%;
    padding-right: 20%;

}

.numbers{
    color: #0d0;
    font-size: 3.5em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1%;
}

.undernumbers{
    word-wrap: break-word;
    font-weight: bolder;
    text-align: center;
    font-size: 1.5em;
}

.section3{
    display: flex;
    flex-wrap: nowrap; 
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    margin-top: 3%;
}

.section3 div{
    word-wrap: break-word;
    width: 50%;
    font-size: 1.3em;
}

.section3 div a{
    color: #0d0;
    margin-left: 3%;
}

.section4{
    background-color: #0d0;
    padding-left: 10%;
    padding-right: 10%;
}

.section4 h2{
    font-size: 3em;
    color: white;
    width: 100%;
    text-align: center;
}

.section4 div{
    display: flex;
    width: 100%;
}

.section6{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.section6 h4{
    font-size: 2em;
    word-wrap: break-word; 
    margin-left: 15%; 
    margin-right: 15%; 
}

.section6 p{
    font-size: larger;
}

.review{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

.media{
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: lightgray;
    text-align: center;
    font-size: 2em;
}

.media-im{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-evenly;
}

.funding{
    text-align: center;
    font-size: 2em;
    padding-left: 10%;
    padding-right: 10%;
}

hr{
    border-color: black;
}

.strategic{
    text-align: center;
    font-size: 2em;
}

.strategic-im{
    display: flex;
    flex-wrap: nowrap;
    padding-left: 5%;
    padding-right: 5%;
}

.subscribe{
    background-color: lightgray;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 5%;
    margin-top: 3%;
    text-align: center;
    font-size: 2em;
}

.subscribe-button{
    background-color: black;
    color: white;
    font-size: large;
    padding: 1%;
    border-radius: 5px;
}

.subscribe-button:hover{
    opacity: 0.8;
}

.end{
    display: flex;
    background-color: black;
    padding-left: 5%;
    padding-right: 5%;
    height: 15%;
    justify-content: space-between;
    align-items: center;
}

/*Media Queries*/

@media screen and (max-width: 800px){
    .topnav{
        display: none;
    }

    .bun{
        display: block;
        color: grey;
        margin-left: 80%;
    }

    .stats{
        flex-direction: column;
    }

    .section3{
        flex-direction: column;
    }
    .section3 div{
        width: 100%;
    }

    .section4 div{
        flex-direction: column;
    }

    .review{
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .media-im{
        flex-direction: column;
    }

    .strategic-im{
        flex-direction: column;
        align-content: center;
    }

    .end{
        flex-direction: column;
        align-items: flex-start;
    }

    .end strong{
        align-self: center;
    }

    .end nav{
        align-self: flex-end;
    }
}